{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Art Exhibitions</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <style>
        #banner {
            background: url("{% static 'main_header_bg-copyright (1).jpg' %}");
            background-size: cover;
            height: 300px;
        }

        hr {
            border: 0; /* Reset default styles */
            border-top: 3px solid gray;
        }

        body {
            background: #dcd2bc;
        }
    </style>
</head>
<body>
<div id="banner" class="container-fluid">
    <h1 class="fw-bolder text-white ps-3">ozeum</h1>
    <hr>
    <h1 class="title text-white d-flex align-self-center justify-content-center">Upcoming Events</h1>
</div>

{% for exhibit in exhibitions %}
    <div class="container d-flex justify-content-around mt-5">
        <div class="col-8 align-self-center">
            <p>{{ exhibit.start_date }} - {{ exhibit.end_date }}</p>
            <h3 class="card-title">{{ exhibit.title }}</h3>
            <h5 class="fw-semibold">{{ exhibit.location }}</h5>
            <p class="card-text">{{ exhibit.description }}</p>
        </div>
        <div class="col-4 align-self-center">
            {% if exhibit.get_image.url %}
                <img class="card-img-top" src="{{ exhibit.get_image.url }}">
            {% endif %}
        </div>
    </div>
{% endfor %}
</body>
</html>