{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a trip</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>
<h1 class="title text-center">Add a trip</h1>
<div class="container my-5">
    <form class="d-flex flex-column align-items-center" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>
</body>
</html>